
<h1>Show Articles!</h1>
<p>Articles#show. Find me in app/views/articles/show.html.erb</p>

<p> 
<strong>Title: <%= @article.title %>  </strong>
</p>

<p> 
	Text Content:
	<%= @article.textcontent %>
</p>
