
<h1>Hello Rails!</h1>
<p>Welcome#index. Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'Article Link', controller:'articles' %>
<br>
<%= link_to 'Article path1', :controller => :articles %>
<br>
<%= link_to 'Article path2', :controller => :articles , :action => :index %>

